.c-alert{
  display: flex;
  width: 100%;
  gap: .75rem;
  padding: .5rem;
  background: $white;
  border-radius: .5rem;
  box-shadow: 0 0.375rem 1rem 0  transparentize($black, .9);
  &_header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 0;
    padding-left: .5rem;
    .c-icon{
      font-size: 1.5rem;
    }
  }
  &_body{
    flex-grow: 1;
    flex-shrink: 1;
    font-size: .75rem;
    line-height: 1.25;
    p{
      margin: 0;
      font-size: inherit;
      line-height: inherit;
    }
  }
  &_footer{
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-left: 1px solid $gray-200;
    padding-left: .25rem;
  }


  .btn-remove-img{
    position: relative;
    padding: .325rem;
    background: transparent;
    border-radius: 0;
    color: #a7a6a6;
    height: 2.25rem;
    width: 2.25rem;
    border: none !important;
    transition: none !important;
    .c-icon{
      font-size: .75rem;
      margin-top: 0;
    }
    &:active{
      color: #757575;
    }
  }
}